USE [master]
GO
/****** Object:  Database [DCBMS]    Script Date: 3/6/2019 11:37:47 AM ******/
CREATE DATABASE [DCBMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DCBMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DCBMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DCBMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DCBMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DCBMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DCBMS]
GO
/****** Object:  Table [dbo].[PatientInfo]    Script Date: 3/6/2019 11:37:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientInfo](
	[patientId] [int] IDENTITY(1,1) NOT NULL,
	[patientName] [varchar](50) NOT NULL,
	[patientBirthDate] [date] NOT NULL,
	[patientMobileNo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PatientInformation] PRIMARY KEY CLUSTERED 
(
	[patientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentInfo]    Script Date: 3/6/2019 11:37:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentInfo](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[paymentdate] [date] NOT NULL,
	[paymentStatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TestRequestEntry]    Script Date: 3/6/2019 11:37:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestRequestEntry](
	[testReqId] [int] IDENTITY(1,1) NOT NULL,
	[testReqTotal] [varchar](50) NOT NULL,
	[testReqAllNames] [varchar](50) NOT NULL,
	[testReqPatientId] [int] NOT NULL,
	[testReqPaymentId] [int] NOT NULL,
 CONSTRAINT [PK_TestRequestEntry_1] PRIMARY KEY CLUSTERED 
(
	[testReqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TestSetup]    Script Date: 3/6/2019 11:37:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestSetup](
	[testId] [int] IDENTITY(1,1) NOT NULL,
	[testName] [varchar](50) NOT NULL,
	[testFee] [float] NOT NULL,
	[testTypeSetupId] [int] NOT NULL,
 CONSTRAINT [PK_TestSetup] PRIMARY KEY CLUSTERED 
(
	[testId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TestTypeSetup]    Script Date: 3/6/2019 11:37:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestTypeSetup](
	[testTypeId] [int] IDENTITY(1,1) NOT NULL,
	[testTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TestTypeSetup] PRIMARY KEY CLUSTERED 
(
	[testTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TestRequestEntry]  WITH CHECK ADD  CONSTRAINT [FK_TestRequestEntry_PatientInformation] FOREIGN KEY([testReqPatientId])
REFERENCES [dbo].[PatientInfo] ([patientId])
GO
ALTER TABLE [dbo].[TestRequestEntry] CHECK CONSTRAINT [FK_TestRequestEntry_PatientInformation]
GO
ALTER TABLE [dbo].[TestRequestEntry]  WITH CHECK ADD  CONSTRAINT [FK_TestRequestEntry_Payment] FOREIGN KEY([testReqPaymentId])
REFERENCES [dbo].[PaymentInfo] ([paymentId])
GO
ALTER TABLE [dbo].[TestRequestEntry] CHECK CONSTRAINT [FK_TestRequestEntry_Payment]
GO
ALTER TABLE [dbo].[TestSetup]  WITH CHECK ADD  CONSTRAINT [FK_TestSetup_TestTypeSetup] FOREIGN KEY([testTypeSetupId])
REFERENCES [dbo].[TestTypeSetup] ([testTypeId])
GO
ALTER TABLE [dbo].[TestSetup] CHECK CONSTRAINT [FK_TestSetup_TestTypeSetup]
GO
ALTER TABLE [dbo].[TestTypeSetup]  WITH CHECK ADD  CONSTRAINT [FK_TestTypeSetup_TestTypeSetup] FOREIGN KEY([testTypeId])
REFERENCES [dbo].[TestTypeSetup] ([testTypeId])
GO
ALTER TABLE [dbo].[TestTypeSetup] CHECK CONSTRAINT [FK_TestTypeSetup_TestTypeSetup]
GO
USE [master]
GO
